.character {
  margin: 30px;
  background-color: yellow;
  padding: 1px 30px 5px 30px;
}

.name {
  font-size: 40px;
  font-weight: bold;
}

.imageQuoteContainer {
  background-color: orange;
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
  padding: 20px;
}

.image {
  height: 300px;
}

.quote {
  font-size: 25px;
  font-weight: bold;
  align-self: center;
}
